body {
    font-family: Sumana !important;
}

option {
  color: black
}

.btn-sub:hover {
  background-color: #AAAAAA !important;
}

.navbar-item {
   text-decoration: none !important;
}

.navbar-item:hover {
  color: #FFA800
}

a {
  text-decoration: none !important;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    display: none;
  }
  
.react-horizontal-scrolling-menu--scroll-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .Dropdown_dropdown__3CP60 .Dropdown_menu__4NhQ5 {
    padding: 0px ;
  }

ul {
  margin: 0px !important;
  opacity: 1 !important;
}

.Item_item__eDdfj {
 
  color: #FFEA85;
  text-transform: uppercase;
}

.Submenu_right__yD0Kz{
  top: 0;
  left: 100%
}

.Submenu_submenu__qO6cP{
  border-radius: 0;
  background-color: #575757;
}

